<div class="container col-md-12 width-buttons">
    <div class="navbar">
        <div>
            <button type="button" class="btn btn-warning" (click)="report()">
                <i>Reporte</i>
            </button>
          </div>
      <div>
        <button type="button" class="btn btn-family-aside" disabled>
          <i>Familia</i>
        </button>
      </div>
      <div>
          <button type="button" class="btn btn-danger" disabled>
              <i>911</i>
          </button>
        </div>
    </div>
  </div>
 

