.bg-safety{
    background-color: #247fb8;
};

.margin
{
    scroll-margin: 10px;
}
.right
{
    float: right;
}
.space
{
  margin: 5px 5px 5px 5px;
}

.visibilidad
{
    display:none;
}

.visibility
{
    visibility: hidden;
}

.btn-safety{color:#fff;background-color:#247fb8;border-color:#247fb8}
.btn-safety:hover{color:#fff;background-color:#2b2c2e;border-color:#247fb8}
.btn-safety.focus,.btn-safety:focus{box-shadow:0 0 0 .1rem rgb(179,218,244)}
.btn-safety.disabled,.btn-safety:disabled{color:#fff;background-color:#90cced;border-color:#247fb8}
.btn-safety:not(:disabled):not(.disabled).active,
.btn-safety:not(:disabled):not(.disabled):active,.show>
.btn-safety.dropdown-toggle{color:#fff;background-color:#2b2c2e;border-color:#247fb8}
.btn-safety:not(:disabled):not(.disabled).active:focus,
.btn-safety:not(:disabled):not(.disabled):active:focus,.show>
.btn-safety.dropdown-toggle:focus{box-shadow:0 0 0 .1rem rgb(179,218,244)}