<div class="navbar navbar-expand-lg navbar-dark bg-safety" style="text-align:center">
  <a class="navbar-brand" href="#"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> {{title}} </font> </font> </a>
  
  <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "# navbarColor01" aria-controls = "navbarColor01" aria-expand = "false" aria-label = "Navegación de palanca " (click)="toggleNavbar()">
    <span class = "navbar-toggler-icon"> </span>
  </button>

  <div class = "collapse navbar-collapse show " id = "navbarColor01" [ngClass]="{ 'show': navbarOpen }">

      <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Quienes somos?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>




      </ul>


    <ul class = "navbar-nav ">
        <li class="nav-item ">
            <button type = "button" class = "btn btn-safety space visibilidad"> <span></span> Perfil </button>
          </li>
          <li class="nav-item ">
              <button type = "button" class = "btn btn-safety space visibilidad"> <span></span> Templates </button>
            </li>
            <li class="nav-item ">
                <button type = "button" class = "btn btn-safety space visibilidad"> <span></span> Log out </button>
              </li>
      <li class = "nav-item">
        <button type = "button" class = "btn btn-safety space" (click)="login()"> <span></span> Login </button>
      </li>
      <span></span>
      <li class = "nav-item">
        <button type = "button" class = "btn btn-safety space" (click)="signup()"> <span></span> Sign Up  </button>
      </li>
      
    </ul>
  </div>
</div>
