<div class="modal-header">
    <h4 class="modal-title">Registrate!</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  
  <div class="modal-body">

      <form class="form-horizontal">
        
          
          <!-- Form Name -->
          <legend></legend>
          
          <!-- Appended checkbox -->
          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <input id="name-field" name="name-field" class="form-control" type="text" placeholder="Nombre completo"  >
                    <span class="input-group-addon">     
                    <input type="checkbox">     
                </span>
              </div>
              <p class="help-block">¿Reportes anónimos? - Marque la casilla.</p>
            </div>
          </div>
          
          <!-- Text input-->
          <div class="form-group">
            <div class="col-md-12">
            <input type ="email" id="email-field" name="email-field" type="text" placeholder="Correo electrónico" class="form-control input-md"  >
              
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
            <input type ="email" id="email-field" name="email-field" type="text" placeholder="Confirmar correo electrónico" class="form-control input-md"  >
              
            </div>
          </div>
          
          <!-- Text input-->
          <div class="form-group">
            <div class="col-md-12">
            <input id="username-field" name="username-field" type="text" placeholder="Nombre de usuario" class="form-control input-md"  >
              
            </div>
          </div>
          
          <!-- Appended checkbox -->
          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <input id="password-field" name="password-field" class="form-control" type="text" placeholder="Contraseña"  >
                    <span class="input-group-addon">     
                    <input type="checkbox">     
                </span>
              </div>
              
            </div>
          </div>
          
          <!-- Button -->
          <div class="form-group right">
            <div class="col-md-12">
              <button id="signup-button" name="signup-button" class="btn btn-outline-primary space">Registrarse</button>
              <button type="button" class="btn btn-outline-dark space" >Cancelar</button>

            </div>
          </div>  
                
       </form>
          

  </div>



  
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button> -->
  
  </div>